/* FULL SCREEN OVERLAY */
.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* LOGIN BOX */
.form {
  background: #fff;
  padding: 25px;
  width: 380px;
  border-radius: 8px;
  position: relative;
}

/* CLOSE BUTTON */
.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

/* FULL SCREEN CENTER */
.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* SIGNUP FORM */
.form2 {
  background: #fff;
  padding: 25px;
  width: 380px;
  border-radius: 8px;
}




















.form{
    background-color: black;
    color: white;
    width: 500px;
    height: 500px;
    margin: 5% 32%;
    padding: 50px;
}
.form2{
    background-color: black;
    color: white;
    width: 500px;
    height: 630px;
    margin: 2% 32%;
    padding: 50px;
}
.account {
  text-decoration: none;
  color: white;
}
.inputs input{
  width: 400px;
  background-color: black;
  color: white;
  border: 1px solid white;
  margin:15px 0px;
  height: 45px;
  font-size: 20px;
}
.inputs button{
  width: 400px;
  height: 42px;
  font-size: 20px;
   margin:10px 0px;
   background-color: rgb(255, 8, 0);
  color: white;
  border-radius: 5px;
}
.Facebook{
  color: white;
  background-color: rgb(72, 72, 179);
   height: 42px;
   width: 100px;
   margin: 10px;
}
.social-link{
  padding: 20px 10px;
}
.Google{
  color: white;
  background-color: rgb(255, 0, 0);
   height: 42px;
   width: 100px;
    margin: 10px;
}
.Twitter{
  color: white;
  background-color: rgb(145, 145, 214);
  height: 42px;
  width: 100px;
   margin: 10px;
}




















.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0; /* space around */
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc; /* line color */
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

.divider span {
  font-size: 14px;
  color: #555;
}



